<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<style>
    img{
        width: 100vw;
    }
</style>
<body>
    <img src="{{ url_for('uploaded_file', filename=user['picture']) }}" alt="profile picture">
    <a href="{{ url_for('delete_picture', id = user['_id']) }}">Remove </a>
    <form action="{{ url_for('sendFile', id = user['_id']) }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file"/><br>
        <button type="submit">Submit</button>
    </form>
    <label>User: {{ user['user'] }}</label>
    <label>Picture: {{ user['picture'] }}</label>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>