<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <img src="uploads/{{ user['picture'] }}">
    <a href="{{ url_for('delete', id = user['_id']) }}">Remove </a>
    <form action="/sendFile" method="POST" enctype="multipart/form-data"></form>
        <input type="file" name="file"/><br>
        <input type="submit"/>
    </form>
    <label>User: {{ user.user }}</label>
</body>
</html>